* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  font-size: larger;
  height: 110px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  color: white;
}

.header--image {
  height: 70px;
  margin-right: 6px;
}

.header--title {
  font-size: 40px;
  font-weight: bold;
  margin-right: auto;
  text-shadow:black 0.1em 0.1em 0.2em;
}

.header--project {
  font-size: 25px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 50px 50px / 1fr 1fr;
  gap: 30px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 10px;
  border: 1px solid #d5d4d8;
  text-indent: 20px;
  font-size: large;
}

.form--button {
  grid-column: 1 / -1;
  /* grid-column: 1 / 3; */
  font-family: "Karla", sans-serif;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #3b0d4c 1.18%, #A626D3 100%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.meme {
position: relative;
text-align: center;

}

.meme--image {
  width: 500px;
  height: 500px;
  display: block;
  height: auto;
  margin: 40px auto;
  max-width: 100%;
  
}
.meme--text {
  position: absolute;
  width: 80%;
  
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
  
}

.top {
  top: 0;
  
}
